

* {
    padding: 0;
    margin: 0;
}

/* top black bar */
.bar {
    height: 25px;
    width: 100%;
    background-color: #111111;
    color: #d3d3d3 ;
    text-align: right;
    padding-right: 50px;
    box-sizing: border-box;
    line-height: 25px;
    font-size: 12px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* add background for navbar */
.navbar {
    background-color: #fafafa;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    height: 76px;
    position: relative;
}

/* Style the navbar links */
.navbar a {
    color: #fafafa;
    text-align: center;
    /* padding: 20px 50px; */
    text-decoration: none;
    font-size: 17px;
}

/* change the color of links on hover */
.navbar a:hover {
    background-color: #fafafa;
    color: black;
}

.dropbtn:hover {
    /* box-shadow: 0 0 0 10px red inset; */
    border-bottom: 2px solid red;
}

/* add color to current active link*/
.navbar a.active {
    background-color: #9d182d;
    color:white;
}

/* dropdown container*/
.dropdown {
    float:left;
    overflow: show;
    position: relative;
}

/* dropdown button */   
.dropdown .dropbtn {
    height: 100%;
    display: block;
    font-size: 17px;
    outline: none;
    color: #333333;
    padding: 28px 50px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    box-sizing: border-box;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    visibility: hidden;
    opacity: 0;
    transition: .2s;
    position: absolute;
    background-color: #f9f9f9;
    top: 100%;
    left: 0;
    /* min-width: 160px; */
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

/* add grey background to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #dddddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
}

.wrapper {
    /* background: #fafafa; */
    /* background: #151e3d; */
    background: #fafafa url(bg.PNG) 50% 50%;
    background-size: cover;
    height: 100vh;
}

.wrapper .center {
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    font-family: Helvetica, sans-serif;
    user-select: none;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.center > * {
    max-width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.center h1 {
    color: #fafafa;
    font-size: 48px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}

.center h2 {
    color:#fafafa;
    margin-top: 10px;
    font-size: 24px;
    width: 885px;
    text-align: center;
}

.center h3 {
    color:#fafafa;
    margin-top: 10px;
    font-size: 17px;
    width: 885px;
    text-align: center;
    font-weight: lighter;
}

footer {
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: grey;
    color: lightgrey;
}

#main {
    height: 100vh;
    align-items: flex-start;
}

.logo {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100px;
    pointer-events: none;
    margin-left: 20px;
    background: url(images/logo.png) no-repeat;
    background-size:contain; 
    filter: hue-rotate(120deg);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    pointer-events: none;
}

@media (max-width: 800px) {
    h1 {
        font-size: 10px !important;
    }
}